<a href="https://colab.research.google.com/github/Feemoai/Jobsheet-4-Ahmad-Fajril-Falah/blob/main/AFajrilF_JOBSHEET_04_PERULANGAN_(LOOPING).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**JOBSHEET 04 : PERULANGAN (LOOPING)**


Dosen:
Ir. Prayitno, S.ST., M.T., Ph.D.

Nama Mahasiswa	: Ahmad Fajril Falah

NIM Mahasiswa	: 4.33.25.1.01

---

Praktikum 01 – Perulangan For dengan Range

---

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

Praktikum 02 – Perulangan While

---

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

Praktikum 03 – Nested Loop (Segitiga Bintang)

---

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

Praktikum 04 – Break dan Continue

---

In [ ]:
for i in range(1, 11):
    if i == 10:
        print("Angka 10 ditemukan")
        break
    print("Angka:", i)

Angka: 1
Angka: 2
Angka: 3
Angka: 4
Angka: 5
Angka: 6
Angka: 7
Angka: 8
Angka: 9
Angka 10 ditemukan

In [ ]:
#ini hanya menampilkan angka genap saja
for i in range(1, 6):
    if i % 2 == 1:
        continue
    print(i)

2
4

Praktikum 05 – For pada Dictionary

---

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}
for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

Praktikum 06 – For dengan Enumerate

---

In [ ]:
daftar = ["Andi", "Budi", "Cici"]
for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

Praktikum 07 – Studi Kasus: Program Kasir Multi-Item

---

In [ ]:
total = 0

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower() == "selesai":
        break
    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja: Rp {total}")
s

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja: Rp 115000.0

**⬇⬇ Penugasan Jobsheet 04 ⬇⬇**

---

3.	Menampilkan Deret Angka

---

In [5]:
print("Ahmad Fajril Falah")
print("3.Menampilkan Deret Angka\n")
for i in range(3, 31, 3):   # mulai dari 3, berhenti di 30, kelipatan 3
    print(i)

Ahmad Fajril Falah
3.Menampilkan Deret Angka

3
6
9
12
15
18
21
24
27
30

4.	Hitung Faktorial

---

In [7]:
print("Ahmad Fajril Falah")
print("4.Hitung Faktorial\n")
n = int(input("Masukkan bilangan: "))
faktorial = 1

while n > 1:
    faktorial *= n
    n -= 1

print("Hasil faktorial =", faktorial)

Ahmad Fajril Falah
4.Hitung Faktorial

Masukkan bilangan: 10
Hasil faktorial = 3628800

5.	Pola Segitiga Terbalik

---

In [10]:
print("Ahmad Fajril Falah")
print("5.Pola Segitiga Terbalik\n")
tinggi = 5

for i in range(tinggi, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

Ahmad Fajril Falah
5.Pola Segitiga Terbalik

*****
****
***
**
*

6.	Cari Bilangan Prima dengan Break

---

In [11]:
print("Ahmad Fajril Falah")
print("6.Cari Bilangan Prima dengan Break\n")
n = int(input("Masukkan bilangan: "))
prima = True

if n <= 1:
    prima = False
else:
    for i in range(2, n):
        if n % i == 0:
            prima = False
            break

if prima:
    print(f"{n} adalah bilangan prima.")
else:
    print(f"{n} bukan bilangan prima.")

Ahmad Fajril Falah
6.Cari Bilangan Prima dengan Break

Masukkan bilangan: 3
3 adalah bilangan prima.

7.	Tampilkan Hanya Bilangan Genap dengan Continue

---

In [13]:
print("Ahmad Fajril Falah")
print("7.Tampilkan Hanya Bilangan Genap dengan Continue\n")
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

Ahmad Fajril Falah
7.Tampilkan Hanya Bilangan Genap dengan Continue

2
4
6
8
10
12
14
16
18
20

8.	Iterasi Dictionary Mahasiswa

---

In [15]:
print("Ahmad Fajril Falah")
print("8.Iterasi Dictionary Mahasiswa\n")
# Data mahasiswa
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for key, value in mahasiswa.items():
    print(f"{key} : {value}", end=" ")

Ahmad Fajril Falah
8.Iterasi Dictionary Mahasiswa

Nama : Budi Umur : 21 Prodi : Teknik Komputer

9.	Enumerate Daftar Barang

---

In [17]:
print("Ahmad Fajril Falah")
print("9.Enumerate Daftar Barang\n")
barang = ["Buku", "Pulpen", "Tas"]

for i, item in enumerate(barang, start=1):
    print(i, item)

Ahmad Fajril Falah
9.Enumerate Daftar Barang

1 Buku
2 Pulpen
3 Tas

10.	Studi Kasus – Kasir Diskon

---

In [20]:
print("Ahmad Fajril Falah")
print("10. Studi Kasus – Kasir Diskonn")
total = 0
barang_list = []

while True:
    nama = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if nama.lower() == "selesai":
        break

    harga = int(input(f"Masukkan harga {nama}: "))
    jumlah = int(input(f"Masukkan jumlah {nama}: "))

    subtotal = harga * jumlah
    total += subtotal

    barang_list.append([nama, harga, jumlah, subtotal])
    print(f"Subtotal {nama}: Rp{subtotal:,}\n")

# Diskon
diskon = 0
if total >= 200000:
    diskon = total * 0.10

total_bayar = total - diskon

# struk pembayaran
print("\n===== STRUK BELANJA =====")
for barang in barang_list:
    print(f"{barang[0]} (x{barang[2]}) - Rp{barang[3]:,}")
print("--------------------------")
print(f"Total Harga : Rp{total:,}")
print(f"Diskon (10%) : Rp{diskon:,}")
print(f"Total Bayar  : Rp{total_bayar:,}")
print("==========================")
print("Terima kasih sudah berbelanja!")

Ahmad Fajril Falah
10. Studi Kasus – Kasir Diskonn
Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 10000
Masukkan jumlah Buku: 6
Subtotal Buku: Rp60,000

Masukkan nama barang (ketik 'selesai' untuk berhenti): Penggaris Ziegel
Masukkan harga Penggaris Ziegel: 22000
Masukkan jumlah Penggaris Ziegel: 2
Subtotal Penggaris Ziegel: Rp44,000

Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 10
Subtotal Pulpen: Rp50,000

Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== STRUK BELANJA =====
Buku (x6) - Rp60,000
Penggaris Ziegel (x2) - Rp44,000
Pulpen (x10) - Rp50,000
--------------------------
Total Harga : Rp154,000
Diskon (10%) : Rp0
Total Bayar  : Rp154,000
==========================
Terima kasih sudah berbelanja!